.formControl{

}

.formControl.error input,
.formControl.error textarea{
    border-color: red;
}

.formControl.error span{
    color: red;
}

.form_summary_error {
    border: red 1px solid;
    padding: 5px;
    color: red;
}